# All
*.env*
*.kiro
*authorized_keys*
*__pycache__*
*.log

# Ansible - ignore installed collections but keep config
ansible/collections/
ansible/.ansible/

# Containerlab
*/images
*/ceos
*/srl
*/.tls
*/topology-data.json
flash*
*-inventory*
.tls*
images/


# --- Certificates & Keys ---
# Ignore generated keys if they aren't meant to be public templates
*.pem
*.key
*.csr
*.crt
# SSH keys generated for the lab
id_rsa
id_rsa.pub

# --- OS & IDE Specifics ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Secrets & Environment ---
# Environment variables file (often used for passwords/keys in topology)
.env
.env.local

# Temporary files often created during editing
*.swp
*.bak
*.tmp
*~
*topology-data.json


# --- AVD ---
arista/avd/*
arista/avd-cEOS-Lab/*
juniper/*

.venv/

/net-commander
