[project]
name = "dmac-clab"
version = "0.0.1"
description = "Python project to deploy tooling for Containerlab"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "ansible>=10.0.0,<11.0.0",  # ansible-core 2.17.x - compatible with arista.avd
    "pyavd[ansible]>=5.7.2",
]
